@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    --dark-background: #1F2937;
    --light-background: #E5E7EB;
    --highlight-color: #3882F6;
    --white-text-main: #F9FAF8;
    --white-text-secondary: #E5E7EB;
    --grey-text-secondary: #1F2937;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-background);
    flex: 1;
    padding: 0 300px;
}



.navbar-image {
    width: 100px;
}

.navbar-links {
    font-size: 18px;
    color: var(--white-text-secondary);
    display: flex;
    gap: 16px;
}

.header {
    display: flex;
    background-color: var(--dark-background);
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 50px 300px;
}

.hero-text-main {
    color: var(--white-text-main);
    font-size: 48px;
    font-weight: 900;
}

.hero-text-secondary {
    color: var(--white-text-secondary);
    font-size: 18px;
}

.sign-up-button {
    background-color: var(--highlight-color);
    border: 0;
    padding: 6px 30px;
    border-radius: 6px;
    color: #E5E7EB;
    font-weight: 600;
    margin-top: 10px;
}

.header-image {
    width: 300px;
}

.content-side {
    flex: initial;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 20px 300px 40px 300px;
}

.content-header {
    color: var(--dark-background);
    font-size: 36px;
    font-weight: 900;
    padding: 20px 0px;
}

.content-items {
    display: flex;
    justify-content: center;
    font-size: 10px;
    width: 100px;
    gap: 40px;
    text-align: justify;
    text-align-last: center;
    color: var(--grey-text-secondary)
}

.content-item img {
    width: 100px;
    border: 2px solid var(--highlight-color);
    padding: 2px;
    border-radius: 8px;
}

.quote-side {
    flex: 1 0 25%;
    background-color: var(--light-background);
}

.quote-container {
    display: flex;
}

.quote {
    display: flex;
    background-color: var(--light-background);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 50%;
    padding: 60px 0px;
}

.quotation-text {
    font-size: 28px;
    font-weight: 100;
    font-style: italic;
}

.quotation-citation {
    font-weight: bold;
    align-self: end;
    padding-top: 10px;

}

.cta {
    display: flex;
    background-color: var(--highlight-color);
    color: var(--white-text-main);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 50px 300px;
    padding: 30px 75px;
    border-radius: 5px;
    font-size: small;
}

.cta-header-text {
    font-weight: bold;
    font-size: medium;
}

.cta-sign-up-button {
    background-color: var(--highlight-color);
    border: 1px solid var(--white-text-secondary);
    color: inherit;
    padding: 6px 20px;
    border-radius: 6px;
    font-weight: 600;
}

.footer {
    display: flex;
    background-color: var(--dark-background);
    color: var(--light-background);
    padding: 30px;
    justify-content: center;
    font-size: small;
}